---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/Logo.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

export const prerender = true;
---

<Layout
  title={"Soul Rest App | " + entry.data.title}
  description={entry.data.description}
>
  <article class="p-6 w-full container">
    <div class="flex flex-col gap-2 sticky top-0 py-2 bg-white z-20">
      <Logo />
    </div>

    <div class="text-sm breadcrumbs m-0">
      <ul class="!p-0 !m-0">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li>Post</li>
      </ul>
    </div>

    <h1 class="!mb-2">{entry.data.title}</h1>

    <p class="p-0 m-0">
      Posted on {
        entry.data.pubDate.toLocaleString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>

    <p class="p-0 m-0">Written by {entry.data.author}</p>

    <div class="divider" role="separator"></div>

    <div class="max-w-[65ch] w-full">
      <Content />
    </div>
  </article>
</Layout>
