---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import { getMeditationById } from "../api/baserow/meditations";

const id = Astro.url.searchParams.get("id");

if (!id) {
  return Astro.redirect("/");
}

const meditation = await getMeditationById(id);

if (!meditation) {
  return Astro.redirect("/");
}
---

<Layout className="bg-white" title={`${meditation.Title} | Christian Meditation on Soul Rest`} description={`${meditation.Title} | Christian Meditation on Soul Rest`}>
  <main class="container p-6 outline-none">
    <div class="flex flex-col gap-2 sticky top-0 py-2 bg-white z-20">
      <Logo />
    </div>
    <div class="flex flex-col gap-0">
      <div class="text-sm breadcrumbs m-0">
        <ul class="!p-0 !m-0">
          <li><a href="/">Home</a></li>
          <li>{meditation.Title}</li>
        </ul>
      </div>
    </div>
    <iframe
      class="aspect-video w-full rounded-2xl shadow-lg"
      src={"https://www.youtube.com/embed/" + meditation["YouTube Video ID"]}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    
    <Footer />
  </main>
</Layout>
