<footer class="dark:!text-slate-400 mt-8 text-sm flex justify-center text-center">
  <span>
    <a
      class="dark:text-slate-200"
      href="/posts/what-is-soul-rest">Soul Rest</a
    > © 2024
  </span>
</footer>
