<footer>
  <p>
    Learn more about <a href="/posts">Soul Rest</a>, a web app created by <a
      href="https://cameronpak.com"
      target="_blank">Cameron Pak</a
    > and part of the <a href="https://melos.church" target="_blank"
      >Melos.Church</a
    > family of tools.
  </p>
  <p class="text-xs m-0 italic">
    Content is owned by their respective creators and curated by Cam from
    YouTube, RSS Feeds, and from submitted content. Icons are sourced from <a
      href="https://iconbuddy.app"
      target="_blank">IconBuddy</a
    >, an open source icon collection. If you would like to add a video or
    audio, please <a href="mailto:cam@melos.church" target="_blank">email me.</a
    >
  </p>
</footer>
