<footer>
  <p>
    Learn more about <a href="/posts"
      >Soul Rest</a
    >, a web app created by <a href="https://cameronpak.com" target="_blank"
      >Cameron Pak</a
    >
  </p>
  <p class="text-xs m-0 italic">
    Content is owned by their respective creators and curated from YouTube. If
    you would like to add a video, please contact me on my website.
  </p>
</footer>
