/* Add CSS styles below. */
.example-class {
  /* You can even apply Tailwind classes here. */
  @apply bg-red-500 text-white;
}

/* Override some of the Tailwind .prose CSS */
.prose h1, 
.prose h2, 
.prose h3, 
.prose h4, 
.prose h5, 
.prose h6 {
  @apply my-2 dark:text-slate-200;
  text-wrap: balance;
}

.prose a {
  @apply dark:text-slate-200;
}

.prose blockquote {
  @apply dark:text-slate-300 dark:!border-slate-400;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  @apply dark:text-slate-300;
}

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

/* Daisy UI Overrides */
.breadcrumbs > ul > li, 
.breadcrumbs > ol > li {
  @apply p-0;
}

/* AlpineJS Overrides */
[x-cloak] {
  display: none;
}

