---
import "../global.css";

interface Props {
  title: string;
  description?: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<!doctype html>
<html class="bg-white" lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Soul Rest " + title} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="https://mugshotbot.com/m/K0Cu8sbV" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body class={"prose !max-w-[100vw] w-full " + className}>
    <slot />
  </body>
</html>
